.Rproj.user
.Rhistory
.RData
.Ruserdata
.secrets

.DS_Store

/data/.DS_Store.DS_Store

USA1_msk_alt.grd
USA1_msk_alt.gri
USA1_msk_alt.vrt
USA2_msk_alt.grd
USA2_msk_alt.gri
USA2_msk_alt.vrt
USA3_msk_alt.grd
USA3_msk_alt.gri
USA3_msk_alt.vrt
USA4_msk_alt.grd
USA4_msk_alt.gri
USA4_msk_alt.vrt